.menu {
    background-color: #0175ce;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

img {
    border-radius: 2rem;
    height: 60px;
    width: 90px;
}

.navbar-nav {
    justify-content: space-around;
    border: 3px;
}

.allnavitems {
    background-color: #ffffff;
}

li {
    border: 1.5px;
    border-color: bisque;
    font-weight: 200;
    background-color: brown;
    color: red;
}

img {
    position: relative;
}

li:hover {
    background-color: rgba(44, 9, 55, 0.1);
    color: rgb(141, 139, 20);
    border: 1px black dotted;
}

.nav-item {
    border-radius: 5px;
    border: 3px;
    background-color: rgb(230, 211, 172);
}

a {
    font-weight: 400;
}

#navbarNav {
    justify-content: right;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
}