<div class="row allnavitems">

    <nav id="nvm" class="navbar navbar-expand-lg navbar-light ">
        <div class="col-1">

        </div>
        <div class="col-2">
            <a class="navbar-brand" href="#">Sell++</a>
        </div>
        <div class="col-2">

        </div>
        <div class="collapse navbar-collapse col-6" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" (click)="viewTransaction()">View Transactions</a>
                </li>
                &nbsp; &nbsp;
                <li class="nav-item">
                    <a class="nav-link" (click)="getSuggestions()">Get Suggestions</a>
                </li>
                &nbsp; &nbsp;
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
        <div class="col-1">

        </div>
    </nav>
</div>