<!-- <div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn">
            <div>Shop Login</div>
        </div>

        <form>
            <input type="text" id="name" class="fadeIn" placeholder="user name" [(ngModel)]="shopStore.username" [ngModelOptions]="{standalone: true}" />
            <input type="password" id="password" class="fadeIn" placeholder="Password" [(ngModel)]="shopStore.password" [ngModelOptions]="{standalone: true}" />
            <input type="submit" class="fadeIn" value="Login" (click)="login()" />
            <p class="text-center text-muted mt-5 mb-0">Dont have an account? <a class="fw-bold text-body" (click)="registerClick()"><u>Create one</u></a></p>

        </form>
    </div>
</div> -->
<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h1 class="card-title text-center">Login</h1>
            <div class="card-text">
                <form >
                    <div class="form-group">
                        <label for="emailI">Name: </label><br>
                        <input type="text" class="form-control form-control-sm" id="emailI" [(ngModel)]="shopStore.username" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label for="passI">Password: </label>
                        <input type="password" class="form-control form-control-sm" id="passI" [(ngModel)]="shopStore.password" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div>
                        <button class="btn btn-primary" id="mybtn"(click)="login()" >Sign in</button>
                        <div class="signup">
                            Don't have an account?<a href="/signup">Create One</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

